<div class="layout-form">
    <div class="layout-form-item">
        <label>用户名</label>
        <input class="form-input" type="text" />
    </div>
    <div class="layout-form-item">
        <label>用户名</label>
        <input class="form-input" type="text" />
    </div>
    <div class="layout-form-item">
        <label>用户名</label>
        <input class="form-input" type="text" />
    </div>
    <div class="layout-form-item">
        <label>用户名</label>
        <input class="form-input" type="text" />
    </div>
    <div class="layout-form-item">
        <label>用户名</label>
        <input class="form-input" type="text" />
    </div>
    <div class="layout-form-item">
        <label>用户名</label>
        <input class="form-input" type="text" />
    </div>
    <div class="layout-form-item">
        <label>用户名</label>
        <input class="form-input" type="text" />
    </div>
</div>
<div class="layout-main-list">
    <table class="table">
        <thead>
        <tr>
            <th>用户名</th>
            <th>表单</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>张三</td>
            <td>李四</td>
            <td>
                <button type="button" class="layout-btn btn-primary">编辑</button>
                <button type="button" class="layout-btn btn-danger">删除</button>
            </td>
        </tr>
        <tr>
            <td>张三</td>
            <td>李四</td>
            <td>
                <button type="button" class="layout-btn btn-primary">编辑</button>
                <button type="button" class="layout-btn btn-danger">删除</button>
            </td>
        </tr>
        <tr>
            <td>张三</td>
            <td>李四</td>
            <td>
                <button type="button" class="layout-btn btn-primary">编辑</button>
                <button type="button" class="layout-btn btn-danger">删除</button>
            </td>
        </tr>
        <tr>
            <td>张三</td>
            <td>李四</td>
            <td>
                <button type="button" class="layout-btn btn-primary">编辑</button>
                <button type="button" class="layout-btn btn-danger">删除</button>
            </td>
        </tr>
        <tr>
            <td>张三</td>
            <td>李四</td>
            <td>
                <button type="button" class="layout-btn btn-primary">编辑</button>
                <button type="button" class="layout-btn btn-danger">删除</button>
            </td>
        </tr>
        <tr>
            <td>张三</td>
            <td>李四</td>
            <td>
                <button type="button" class="layout-btn btn-primary">编辑</button>
                <button type="button" class="layout-btn btn-danger">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>